<div class="row">
    <div class="col-md-3">
        <img src="img/profile.jpg" class="img-circle img-responsive" id="about-image" />
    </div>
    <div class="col-md-6" id="about">
        <h1>Introduction</h1>
		<p>I have been always a technology lover. I studied food science in college, did research on cancer cells. </p>
		<p>
		After graduation I have been working on helping family business.However I don't see that is the right choice for my career. 
		I have been learning coding as a hobby, and made some websites for commercial use.
		</p>
		<p>
		Since then I decided to take it more serious. I start learning the principles, techniques and everything I could find online. I find programming so interesting because 
	    there are so many fun projects I can do.
		</p>
	    <p>
	    I started working on businesses and working as a full stack engineer. Mostly I develope with MEAN stack(MongoDb,Express,Angular,Node), I also master some other cool
	    framework like React.jS
		</p>
        
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="https://www.github.com/jess901108" class="btn btn-default btn-block" target="_blank">
            <i class="fa fa-github fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2"><a href="https://www.linkedin.com/in/mengjieyu" class="btn btn-default btn-block" target="_blank">
        <i class="fa fa-linkedin fa-5x"></i>
    </a></div>
    <div class="col-md-2"><a href="http://codepen.io/jess901108" class="btn btn-default btn-block" target="_blank">
        <i class="fa fa-codepen fa-5x"></i>
    </a></div>
</div>